@model IEnumerable<CurrenciesRates.Models.Currency>

@{
    ViewData["Title"] = "CurrenciesRatesList";
}

    <form class="p-a-1" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Dodaj Waluty
            </button>
        </div>
    </form>
<h1>CurrenciesRatesList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencySymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVGRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencySymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AVGRate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
