@model IEnumerable<CurrenciesRates.Core.Models.Rate>


<h1>Lista kursów walut</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mid)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { currencyCode = item.Code  })
                </td>
            </tr>
        }
    </tbody>
</table>
