@model IEnumerable<CurrenciesRates.Core.Models.Rate>

@{
    ViewData["Title"] = "CurrenciesRatesList";
}

    <form class="p-a-1" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Dodaj Waluty
            </button>
        </div>
    </form>
<h1>CurrenciesRatesList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mid)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { currencyCode = item.Code  })
                </td>
            </tr>
        }
    </tbody>
</table>
