@model CurrenciesRates.Core.Models.CurrencyViewModel

@{ Layout = "_Layout"; }


<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

<h1>Szczegóły</h1>

<div>
    <h4>Kurs Waluty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRate.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentRate.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRate.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentRate.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRate.Mid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentRate.Mid)
        </dd>
    </dl>
</div>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<div style="width:100%;">
    <canvas id="chart"></canvas>
</div>
<br>
<br>
<a class="btn btn-primary" asp-action="Details" asp-route-currencyCode="@Model.CurrentRate.Code">Bieżący miesiąc</a> |
<a class="btn btn-primary details-button" onclick="monthsAVG('@Model.CurrentRate.Code')">Średni miesięczny kurs</a> |
<a class="btn btn-primary details-button" onclick="generateExcel()">Excel</a>

@section Scripts {
    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model));

    </script>
    <script src="~/lib/Chart.js/Chart.js"></script>
    <script src="~/js/dashboardChart.js"></script>
}

